/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 61.09px;
    height: 19px;
}

.menu button{ 
    background-color: transparent;
    border: none;
    border-top: solid;
    border-width: 2px;
    border-color: transparent;
    padding: 8px 0 0 0;
    margin: 0 25px 0;
}

.menu button:hover{
    border-color: #0065FC; 
    color: #0065FC; 
}
@media (max-width: 767.98px) {
    .menu button:hover{
        border: none;
        border-bottom: solid;
        border-width: 2px;
        border-color: #0065FC; 
        color: #0065FC; 
    }
}

.fa-solid {
    color: var(--main-color);
}
.fa-solid.fa-location-dot{
    color:#000000;
}

.button-text{
    padding: 13px;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    border-color: transparent;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}

/* Pas de texte mais loupe uniquement version mobile */
.fa-solid.fa-magnifying-glass{          
     display: none;  
}

@media (max-width: 767.98px) {
    .fa-solid.fa-magnifying-glass{
      /* display: block;   */
    }
}

@media (max-width: 767.98px){
    .button-text{
        /* display: none; */
    }
}
body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.formulaire-de-recherche{
    padding: 40px 0 25px 0;
}

.section-subtitle{
    margin: 5px 0 16px 0 ; 
}

.barre-de-recherche{
    display: flex;
    align-items: center;
    margin: 25px 0 12px 0;
}

.logo-info{
    padding: 16px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;   
    width: 45px;
    box-sizing: border-box;
}

.filtres{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;  
    margin: 25px 0 15px 0;
}

.filtres-icone{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid;
    border-radius: 25px;
    border-color: #D9D9D9;
    padding: 0 15px 0 15px;

}

.barre-text{
    padding: 16.7px;  /*Aligner avec la bordure */
    border-color: #F2F2F2;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;  /* ICI*/
    border-bottom-width: 1px;

}

.barre-text::placeholder {
     font-size: 18px;
     color: black;
     font-weight: bold;
     text-align:center;
}

.barre-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-solid.fa-info{
    border: 1.3px solid;
    border-color: #D9D9D9;
    padding: 5px 10px 5px 10px;
    border-radius: 100%;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}